@use "../vars";
@use "mixins" as mx;
@use "bootstrap-required";
//@import "bootstrap-required";

// Adds styles for the main navigation
// Uses variables from the _vars.scss file
@mixin enable-page-cover-image() {
    .cover-wrapper {
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover; // Adjust image size by smaller side.
        background-position: center;
        background-origin: padding-box;
        background-clip: border-box;
        align-items: center;
        overflow: hidden;
        position: relative;

        @if vars.$cover-block-height {
            height: mx.nrfs-value(vars.$cover-block-height);
        }
        @if vars.$cover-block-min-height {
            min-height: mx.nrfs-value(vars.$cover-block-min-height);
        }

        .cover-image, .cover-map {
            object-fit: cover;
            outline: none;
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            grid-column: full-width;

            &.overlayed {
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value for transparency */
                    z-index: 1;
                }
            }
        }
    }
}

@mixin enable-wp-adminbar-spacing() {
    // Adds spacing to the top of the page when the admin bar is visible. Use px as it is defined in the admin bar CSS.
    .admin-bar {
        .site-header {
            padding-top: 32px;

            @include mx.breakpoint-less-than(782px) {
                padding-top: 46px;
            }

            @include mx.breakpoint-max(vars.$navbar-mobile) {
                .navbar-mobile {
                    padding-top: 32px;

                    @include mx.breakpoint-max(782px) {
                        padding-top: 46px;
                    }
                }
            }
        }
    }

    // Overwrite the admin bar CSS to make it fixed on mobile.
    @media screen and (max-width: 600px) {
        #wpadminbar {
            position: fixed;
        }
    }
}

@mixin enable-cf7-form-styles() {
    .wpcf7-form {
        //    textarea{
        //        height: 195px;
        //    }

        .wpcf7-form-control-wrap {
            @include margin-bottom(20px);
            display: block;

            + br {
                display: none;
            }

            .wpcf7-list-item {
                display: block;
                margin-bottom: 0.5rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .wpcf7-not-valid {
            border-color: red !important;
        }

        .wpcf7-not-valid-tip {
            margin: 0.3rem 0;
            padding: 0;
            font-size: 1rem;
        }

        .wpcf7-spinner {
            vertical-align: middle;
        }

        div.wpcf7-validation-errors,
        div.wpcf7-acceptance-missing,
        div.wpcf7-response-output {
            border: none;
        }
    }
}

@mixin enable-h-like-classes() {
    .h1 {
        @extend h1;
    }

    .h2 {
        @extend h2;
    }

    .h3 {
        @extend h3;
    }

    .h4 {
        @extend h4;
    }

    .h5 {
        @extend h5;
    }

    .h6 {
        @extend h6;
    }
}

@mixin enable-columns-layout-styles {
    .cols {
        display: flex;
        flex-direction: row;

        .col {
            flex-basis: 50%;

            &.left-col {
                order: 0;
            }

            &.right-col {
                order: 1;
            }
        }
    }

    .half {
        flex-basis: 50%;
    }

    .third {
        flex-basis: 33.333%;
    }

    .two-thirds {
        flex-basis: 66.666%;
    }

    .quarter {
        flex-basis: 25%;
    }

    .three-quarters {
        flex-basis: 75%;
    }
}

@mixin enable-list-columns-layout-styles {
    @for $i from 2 through 4 {
        .is-style-list-cols-#{$i} {
            columns: $i;
            column-gap: 2rem;

            @include mx.breakpoint-max(vars.$mobile) {
                columns: 1;
            }

            li {
                break-inside: avoid;
            }
        }
    }
}

@mixin enable-buttons-classes(
    $buttons,
    $buttons-hover: false,
    $buttons-active: false) {
    @each $key, $value in vars.$buttons {
        .button-#{"" + $key} {
            @include mx.generate-properties-from($buttons, $key);

            &:hover, &:focus {
                @if $buttons-hover {
                    @include mx.generate-properties-from($buttons-hover, $key);
                }
            }

            &:active {
                @if $buttons-active {
                    @include mx.generate-properties-from($buttons-active, $key);
                }
            }
        }
    }
}

// Works with Masonry JS library
@mixin grid-list-container($grid-columns, $grid-gap, $item-spacing-x: 0, $content-gap: 0, $item-content-spacing: 0) {
    .grid-list-container {
        display: grid;
        grid-template-columns: repeat($grid-columns, 1fr);
        gap: $grid-gap;

        .list-item {
            &__wrapper {
                display: flex;
                flex-direction: column;
            }

            &__thumbnail {
                width: 100%;
                height: auto;
            }

            &__content {
                display: flex;
                    flex-direction: column;
                    gap: $content-gap;
                padding: $item-content-spacing;
            }

            //.entry-content {
            //
            //    padding: $_content-spacing-y $_content-spacing-x;
            //
            //    .entry-title {
            //        @include mx.generate-properties-from(vars.$typography, h-5);
            //        margin: 0;
            //
            //        a {
            //            color: vars.$color-4;
            //            text-decoration: none;
            //
            //            &:hover {
            //                text-decoration: underline;
            //            }
            //        }
            //    }
            //
            //    .entry-meta {
            //        font-style: italic;
            //    }
            //
            //    .entry-excerpt {
            //        a {
            //            color: vars.$color-4;
            //            text-decoration: none;
            //
            //            &:hover {
            //                text-decoration: underline;
            //            }
            //        }
            //
            //        > :last-child {
            //            margin-bottom: 0;
            //        }
            //    }
            //}
            //
            //@include mx.breakpoint-max(vars.$narrow) {
            //    > .post {
            //        width: calc(100% / 2);
            //    }
            //}
            //
            //@include mx.breakpoint-max(vars.$mobile) {
            //    > .post {
            //        width: calc(100% / 1);
            //        padding: 0;
            //    }
            //}
        }
    }
}

// Works with Masonry JS library
@mixin masonry-listing-styles($columns, $item-spacing-x, $item-spacing-y) {
    display: flex;
    flex-wrap: wrap;
    position: relative;

    > .post {
        padding: 0 $item-spacing-x;
        margin-bottom: $item-spacing-y;
        width: calc(100% / $columns);
        display: inline-flex;
        flex-direction: column;
    }
}

@mixin enable-social-icons-styles {
    .social-icons {
        display: flex;
        flex-direction: row;
        gap: vars.$social-icons-gap;

        @if vars.$navbar-mobile-items-spacing-x {
            padding-right: vars.$navbar-mobile-items-spacing-x;
            padding-left: vars.$navbar-mobile-items-spacing-x;
        }

        @if vars.$navbar-mobile-items-spacing-y {
            padding-top: vars.$navbar-mobile-items-spacing-y;
            padding-bottom: vars.$navbar-mobile-items-spacing-y;
        }
    }

    .icon {
        display: inline-block;
        width: vars.$social-icon-size;
        height: vars.$social-icon-size;
        margin: 0;
        padding: 0;
        background-position: center;
        background-size: cover;
        text-decoration: none;
    }

    .facebook-icon {
        background-image: url('../images/icon-facebook.svg');
    }

    .instagram-icon {
        background-image: url('../images/icon-instagram.svg');
    }
}

@mixin enable-pagination-styles ($items-gap: 0.5rem, $item-link-padding: 0.25rem 0.5rem 0, $margin-top: 2rem) {
    .pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $margin-top;

        > ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: $items-gap;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
            }

            .page-link,
            .current {
                display: inline-block;
                padding: $item-link-padding;
                text-decoration: none;
            }

            .page-link {
                &.prev {
                    &::before {
                        content: '«';
                        margin: 0 0.25rem 0 0;
                    }
                }
                &.next {
                    &::after {
                        content: '»';
                        margin: 0 0 0 0.25rem;
                    }
                }

                &:hover,
                &:focus,
                &:active {
                    border: 1px solid #888888;
                    background-color: #f9f9f9;
                }
            }
        }

        // TODO: add vars array.
        > ul {
            .page-link,
            .current {
                border: 1px solid #aaaaaa;
                border-radius: 3px;
                color: vars.$clr-dark-1;
            }

            .page-link {
                &:hover,
                &:focus,
                &:active {
                    border: 1px solid #888888;
                    background-color: #f9f9f9;
                }
            }

            .current {
                background-color: vars.$clr-light-2;
                //border-color: vars.$cl;
                //color: #fff;
            }
        }
    }
}