@charset "UTF-8";

@use "../vars";
@use "mixins" as mx;
@import "bootstrap-required";

// Adds arrow to the menu item if it has a dropdown.
$item-dropdown-arrow: if(vars.$navbar-item-dropdown-arrow, vars.$navbar-item-dropdown-arrow, false);
// Horizontal inner spacing of the top <a> links.
$top-link-spacing-x: if(vars.$navbar-top-link-spacing-x, vars.$navbar-top-link-spacing-x, 1px);
// Vertical inner spacing of the top <a> links.
$top-link-spacing-y: if(vars.$navbar-top-link-spacing-y, vars.$navbar-top-link-spacing-y, 1px);
// Gap between the top <li> items.
$top-items-gap: if(vars.$navbar-top-items-gap, vars.$navbar-top-items-gap, false);

// Background color of the <li> item.
$top-li-bg-color: if(vars.$navbar-top-li-bg-color, vars.$navbar-top-li-bg-color, false);
// Background color of the <li> item on hover.
$top-li-bg-color-hover: if(vars.$navbar-top-li-bg-color-hover, vars.$navbar-top-li-bg-color-hover, false);
// Background color of the <li> item on active.
$top-li-bg-color-active: if(vars.$navbar-top-li-bg-color-active, vars.$navbar-top-li-bg-color-active, false);
// Background color of the current (active) item or its parent.
$top-li-bg-color-current: if(vars.$navbar-top-li-bg-color-current, vars.$navbar-top-li-bg-color-current, false);

// checks from vars, then from bootstrap, then default.
$link-color: if(vars.$navbar-item-link-color, vars.$navbar-item-link-color, #0022AA);
$link-hover-color: if(vars.$navbar-item-link-hover-color, vars.$navbar-item-link-hover-color, #000088);
$link-active-color: if(vars.$navbar-item-link-active-color, vars.$navbar-item-link-active-color, #0055AA);
$link-current-color: if(vars.$navbar-item-link-current-color, vars.$navbar-item-link-current-color, #0055AA);

$link-decoration: if(vars.$navbar-item-link-decoration, vars.$navbar-item-link-decoration, none);
$link-hover-decoration: if(vars.$navbar-item-link-hover-decoration, vars.$navbar-item-link-hover-decoration, false);
$link-active-decoration: if(vars.$navbar-item-link-active-decoration, vars.$navbar-item-link-active-decoration, false);
$link-current-decoration: if(vars.$navbar-item-link-current-decoration, vars.$navbar-item-link-current-decoration, false);

$link-weight: if(vars.$navbar-item-link-weight, vars.$navbar-item-link-weight, normal);
$link-hover-weight: if(vars.$navbar-item-link-hover-weight, vars.$navbar-item-link-hover-weight, false);
$link-active-weight: if(vars.$navbar-item-link-active-weight, vars.$navbar-item-link-active-weight, false);
$link-current-weight: if(vars.$navbar-item-link-current-weight, vars.$navbar-item-link-current-weight, false);

%link {
    @if $link-color {
        color: $link-color;
    }
    @if $link-decoration {
        text-decoration: $link-decoration;
    }
    @if $link-weight {
        font-weight: $link-weight;
    }
}

%link-hover {
    @if $link-hover-color {
        color: $link-hover-color;
    }
    @if $link-hover-decoration {
        text-decoration: $link-hover-decoration;
    }
    @if $link-hover-weight {
        font-weight: $link-hover-weight;
    }
}

%link-active {
    @if $link-active-color {
        color: $link-active-color;
    }
    @if $link-active-decoration {
        text-decoration: $link-active-decoration;
    }
    @if $link-active-weight {
        font-weight: $link-active-weight;
    }
}

%link-current {
    @if $link-current-color {
        color: $link-current-color;
    }
    @if $link-current-decoration {
        text-decoration: $link-current-decoration;
    }
    @if $link-current-weight {
        font-weight: $link-current-weight;
    }
}

%mbl-link {
    //@if $link-color {
    //    color: $link-color;
    //}
    //@if $link-decoration {
    //    text-decoration: $link-decoration;
    //}
    //@if $link-weight {
    //    font-weight: $link-weight;
    //}
}

%mbl-link-hover {
    @if vars.$navbar-mbl-item-link-hover-color {
        color: vars.$navbar-mbl-item-link-hover-color;
    }
    @if vars.$navbar-mbl-item-link-hover-decoration {
        text-decoration: vars.$navbar-mbl-item-link-hover-decoration;
    }
    @if vars.$navbar-mbl-item-link-hover-weight {
        font-weight: vars.$navbar-mbl-item-link-hover-weight;
    }
}

%mbl-link-active {
    //@if $link-active-color {
    //    color: $link-active-color;
    //}
    //@if $link-active-decoration {
    //    text-decoration: $link-active-decoration;
    //}
    //@if $link-active-weight {
    //    font-weight: $link-active-weight;
    //}
}

%mbl-link-current {
    @if $link-current-color {
        color: $link-current-color;
    }
    @if $link-current-decoration {
        text-decoration: $link-current-decoration;
    }
    @if $link-current-weight {
        font-weight: $link-current-weight;
    }
}

%subm-link {
    @if vars.$navbar-subm-link-color {
        color: vars.$navbar-subm-link-color;
    }
    @if vars.$navbar-subm-link-decoration {
        text-decoration: vars.$navbar-subm-link-decoration;
    }
    @if vars.$navbar-subm-link-weight {
        font-weight: vars.$navbar-subm-link-weight;
    }
}

%subm-link-hover {
    @if vars.$navbar-subm-link-color-hover {
        color: vars.$navbar-subm-link-color-hover;
    }
    @if vars.$navbar-subm-link-decoration-hover {
        text-decoration: vars.$navbar-subm-link-decoration-hover;
    }
    @if vars.$navbar-subm-link-weight-hover {
        font-weight: vars.$navbar-subm-link-weight-hover;
    }
}

%subm-link-active {
    @if vars.$navbar-subm-link-color-active {
        color: vars.$navbar-subm-link-color-active;
    }
    @if vars.$navbar-subm-link-decoration-active {
        text-decoration: vars.$navbar-subm-link-decoration-active;
    }
    @if vars.$navbar-subm-link-weight-active {
        font-weight: vars.$navbar-subm-link-weight-active;
    }
}

%subm-link-current {
    @if vars.$navbar-subm-link-color-current {
        color: vars.$navbar-subm-link-color-current;
    }
    @if vars.$navbar-subm-link-decoration-current {
        text-decoration: vars.$navbar-subm-link-decoration-current;
    }
    @if vars.$navbar-subm-link-weight-current {
        font-weight: vars.$navbar-subm-link-weight-current;
    }
}

// Font weight of the submenu <a> links.
//$submenu-link-weight: if(vars.$navbar-subm-link-weight, vars.$navbar-subm-link-weight, false);
// Font weight of the submenu <a> links on hover.
//$submenu-link-weight-hover: if(vars.$navbar-subm-link-weight-hover, vars.$navbar-subm-link-weight-hover, false);

// All vars from the _vars.scss file.

//$navbar-mobile: $mobile-breakpoint; // Breakpoint at which the mobile menu is displayed
$navbar-bg-color: if(vars.$navbar-bg-color, vars.$navbar-bg-color, false); // Background color of the navigation bar.
//$navbar-top-link-spacing-x: 0; // Horizontal spacing around the top <a> links.
//$navbar-top-link-spacing-y: 0; // Vertical spacing around the top <a> links.

// Background color of the submenu container.
$subm-bg-color: if(vars.$navbar-subm-bg-color, vars.$navbar-subm-bg-color, false);
$mbl-subm-bg-color: if(vars.$navbar-mbl-subm-bg-color, vars.$navbar-mbl-subm-bg-color, false);

$subm-items-gap: if(vars.$navbar-subm-items-gap, vars.$navbar-mbl-subm-items-gap, false);
$mbl-subm-items-gap: if(vars.$navbar-mbl-subm-items-gap, vars.$navbar-mbl-subm-items-gap, false);

// Horizontal and Vertical spacing for the submenu container.
$subm-ul-spacing-y: if(vars.$navbar-subm-ul-spacing-y, vars.$navbar-subm-ul-spacing-y, false);
$mbl-subm-ul-spacing-y: if(vars.$navbar-mbl-subm-ul-spacing-y, vars.$navbar-mbl-subm-ul-spacing-y, false);
$subm-ul-spacing-x: if(vars.$navbar-subm-ul-spacing-x, vars.$navbar-subm-ul-spacing-x, false);
$mbl-subm-ul-spacing-x: if(vars.$navbar-mbl-subm-ul-spacing-x, vars.$navbar-mbl-subm-ul-spacing-x, false);

// Background color of the submenu <li> item.
$subm-li-bg-color: if(vars.$navbar-subm-li-bg-color, vars.$navbar-subm-li-bg-color, false);
$mbl-subm-li-bg-color: if(vars.$navbar-mbl-subm-li-bg-color, vars.$navbar-mbl-subm-li-bg-color, false);
$subm-li-bg-color-hover: if(vars.$navbar-subm-li-bg-color-hover, vars.$navbar-subm-li-bg-color-hover, false);
$mbl-subm-li-bg-color-hover: if(vars.$navbar-mbl-subm-li-bg-color-hover, vars.$navbar-mbl-subm-li-bg-color-hover, false);
$subm-li-bg-color-active: if(vars.$navbar-subm-li-bg-color-active, vars.$navbar-subm-li-bg-color-active, false);
$mbl-subm-li-bg-color-active: if(vars.$navbar-mbl-subm-li-bg-color-active, vars.$navbar-mbl-subm-li-bg-color-active, false);
$subm-li-bg-color-current: if(vars.$navbar-subm-li-bg-color-current, vars.$navbar-subm-li-bg-color-current, false);
$mbl-subm-li-bg-color-current: if(vars.$navbar-mbl-subm-li-bg-color-current, vars.$navbar-mbl-subm-li-bg-color-current, false);

// Color of the submenu <a> links.
//$subm-link-color: if(vars.$navbar-subm-link-color, vars.$navbar-subm-link-color, false);
$mbl-subm-link-color: if(vars.$navbar-mbl-subm-link-color, vars.$navbar-mbl-subm-link-color, false);
//$subm-link-color-hover: if(vars.$navbar-subm-link-color-hover, vars.$navbar-subm-link-color-hover, false);
$mbl-subm-link-color-hover: if(vars.$navbar-mbl-subm-link-color-hover, vars.$navbar-mbl-subm-link-color-hover, false);
//$subm-link-color-active: if(vars.$navbar-subm-link-color-active, vars.$navbar-subm-link-color-active, false);
$mbl-subm-link-color-active: if(vars.$navbar-mbl-subm-link-color-active, vars.$navbar-mbl-subm-link-color-active, false);
//$subm-link-color-current: if(vars.$navbar-subm-link-color-current, vars.$navbar-subm-link-color-current, false);
$mbl-subm-link-color-current: if(vars.$navbar-mbl-subm-link-color-current, vars.$navbar-mbl-subm-link-color-current, false);

$subm-link-spacing-y: if(vars.$navbar-subm-link-spacing-y, vars.$navbar-subm-link-spacing-y, false);
$mbl-subm-link-spacing-y: if(vars.$navbar-mbl-subm-link-spacing-y, vars.$navbar-mbl-subm-link-spacing-y, false);
$subm-link-spacing-x: if(vars.$navbar-subm-link-spacing-x, vars.$navbar-subm-link-spacing-x, false);
$mbl-subm-link-spacing-x: if(vars.$navbar-mbl-subm-link-spacing-x, vars.$navbar-mbl-subm-link-spacing-x, false);

// Mobile only:
$mbl-dropdown-arrow-color: if(vars.$navbar-mbl-dropdown-arrow-color, vars.$navbar-mbl-dropdown-arrow-color, #000000);

// Adds styles for the main navigation
// Uses variables from the _vars.scss file
@mixin enable-nav-bar() {
    .navbar-nav {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        //justify-content: space-evenly;
        justify-content: center;
        align-items: center;

        @if $top-items-gap {
            gap: $top-items-gap;
        }

        @if $navbar-bg-color {
            background-color: $navbar-bg-color;
        }

        @include mx.breakpoint-max(vars.$navbar-mobile) {
            @if vars.$navbar-mobile-items-align {
                align-items: vars.$navbar-mobile-items-align;
            }

            //flex-direction: column;
            //width: 100%;
            //@include padding(1rem);
        }

        ul {
            margin: 0;
            padding: 0;
        }

        a {
            @extend %link;
        }

        // (Top level) Main navigation menu items
        > li {
            @if $top-li-bg-color {
                background-color: $top-li-bg-color;
            }

            white-space: nowrap;

            @include mx.breakpoint-max(vars.$navbar-mobile) {
                white-space: normal;
            }

            &:hover {
                @if $top-li-bg-color-hover {
                    background-color: $top-li-bg-color-hover;
                }

                //> a {
                //    @extend %link-hover;
                //}
            }

            &:active {
                @if $top-li-bg-color-active {
                    background-color: $top-li-bg-color-active;
                }

                //> a {
                //    @extend %link-active;
                //}
            }

            &.current_page_item,
            &.current_page_parent,
            &.current-menu-item,
            &.current-menu-parent {
                @if $top-li-bg-color-current {
                    background-color: $top-li-bg-color-current;
                }

                > a {
                    @extend %link-current;
                }
            }

            // First level sub menu <ul>
            > .sub-menu {
                top: 100%;
            }

            // Only main navigation menu <a> items
            > a {
                @extend %link;
            }
        }

        // All menu <li> items.
        .menu-item {
            margin: 0;
            display: flex;
            position: relative;
            list-style: none;
            //@include font-size(vars.$navbar-font-size);
            @include mx.font(vars.$navbar-font-size);
            font-weight: normal;

            @include mx.breakpoint-greater-than(vars.$navbar-mobile) {
                &:hover > .sub-menu {
                    display: flex;
                }
            }

            &:focus,
            &:hover {
                position: relative;

                > a {
                    @extend %link-hover;

                    @include mx.breakpoint-max(vars.$navbar-mobile) {
                        @if vars.$navbar-mbl-item-link-hover-color {
                            color: vars.$navbar-mbl-item-link-hover-color;
                        }
                        @if vars.$navbar-mbl-item-link-hover-decoration {
                            text-decoration: vars.$navbar-mbl-item-link-hover-decoration;
                        }
                        @if vars.$navbar-mbl-item-link-hover-weight {
                            font-weight: vars.$navbar-mbl-item-link-hover-weight;
                        }
                    }
                }
            }

            &:active {
                > a {
                    @extend %link-active;
                }
            }

            &.current_page_item,
            &.current_page_parent,
            &.current-menu-item,
            &.current-menu-parent {
                &:hover {
                    > a {
                        @extend %link-hover;
                    }
                }

                &:active {
                    > a {
                        @extend %link-active;
                    }
                }

                > a {
                    @extend %link-current;

                    //&:hover {
                    //    @extend %link-hover;
                    //}
                    //
                    //&:active {
                    //    @extend %link-active;
                    //}
                }
            }

            // Adds arrow to the menu item if it has a dropdown.
            @if $item-dropdown-arrow == true {
                &.menu-item-has-children > a::after {
                    content: '';
                    display: inline-block;
                    position: relative;
                    border-style: solid;
                    border-width: 1px 1px 0 0;
                    height: 6px;
                    width: 6px;
                    margin-left: 10px;
                    top: -3px;
                    transform: rotate(135deg);
                }
            }

            // All .menu-item > <a> links.
            > a {
                @include padding($top-link-spacing-y $top-link-spacing-x);
                @extend %link;

                //&:hover {
                //    @extend %link-hover;
                //}
                //
                //&:active {
                //    @extend %link-active;
                //}
            }
        }

        // Sub menu <ul>.
        .sub-menu {
            display: flex;
            flex-direction: column;
            width: fit-content;
            justify-content: flex-start;
            flex-wrap: wrap;
            overflow: visible;
            //margin: 0;

            @if $subm-items-gap {
                gap: $subm-items-gap;
            }

            @if $subm-ul-spacing-x and $subm-ul-spacing-y {
                @include mx.padding($subm-ul-spacing-y $subm-ul-spacing-x);
            } @else if ($subm-ul-spacing-x) {
                padding-right: $subm-ul-spacing-x;
                padding-left: $subm-ul-spacing-x;
            } @else if ($subm-ul-spacing-y) {
                padding-top: $subm-ul-spacing-y;
                padding-bottom: $subm-ul-spacing-y;
            }

            @if $subm-bg-color {
                background-color: $subm-bg-color;
            }

            @include mx.breakpoint-max(vars.$navbar-mobile) {
                @if $mbl-subm-items-gap {
                    gap: $mbl-subm-items-gap;
                }

                @if $mbl-subm-ul-spacing-y {
                    padding-top: $mbl-subm-ul-spacing-y;
                    padding-bottom: $mbl-subm-ul-spacing-y;
                }
                @if $mbl-subm-ul-spacing-x {
                    padding-right: $mbl-subm-ul-spacing-x;
                    padding-left: $mbl-subm-ul-spacing-x;
                }

                @if $mbl-subm-bg-color {
                    background-color: $mbl-subm-bg-color;
                }
            }

            // For non-mobile
            @include mx.breakpoint-greater-than(vars.$navbar-mobile) {
                display: none;
                position: absolute;
                z-index: 99;
                left: 0;
                align-content: flex-start;

                // Show sub menu on right on hover
                li:hover > .sub-menu {
                    top: 0;
                    left: 100%;
                }
            }

            // Only sub menu <li> items
            li {
                flex: 1; // makes the sub menu items equal width
                white-space: nowrap;

                @if $subm-li-bg-color {
                    background-color: $subm-li-bg-color;
                }

                //@if $submenu-link-color {
                //    color: $submenu-link-color;
                //}

                //@if $submenu-link-weight {
                //    font-weight: $submenu-link-weight;
                //}

                @include mx.breakpoint-max(vars.$navbar-mobile) {
                    @if $mbl-subm-li-bg-color {
                        background-color: $mbl-subm-li-bg-color;
                    }
                }

                &:hover {
                    @if $subm-li-bg-color-hover {
                        background-color: $subm-li-bg-color-hover;
                    }

                    //@if $submenu-link-weight-hover {
                    //    font-weight: $submenu-link-weight-hover;
                    //}

                    @include mx.breakpoint-max(vars.$navbar-mobile) {
                        @if $mbl-subm-li-bg-color-hover {
                            background-color: $mbl-subm-li-bg-color-hover;
                        }
                    }

                    a {
                        //@if $subm-link-color-hover {
                        //    color: $subm-link-color-hover;
                        //}
                        @extend %subm-link-hover;

                        @include mx.breakpoint-max(vars.$navbar-mobile) {
                            @if $mbl-subm-link-color-hover {
                                color: $mbl-subm-link-color-hover;
                            }
                        }
                    }
                }

                &:active {
                    @if $subm-li-bg-color-active {
                        background-color: $subm-li-bg-color-active;
                    }

                    @include mx.breakpoint-max(vars.$navbar-mobile) {
                        @if $mbl-subm-li-bg-color-active {
                            background-color: $mbl-subm-li-bg-color-active;
                        }
                    }

                    a {
                        //@if $subm-link-color-active {
                        //    color: $subm-link-color-active;
                        //}
                        @extend %subm-link-active;

                        @include mx.breakpoint-max(vars.$navbar-mobile) {
                            @if $mbl-subm-link-color-active {
                                color: $mbl-subm-link-color-active;
                            }
                        }
                    }
                }

                &.current_page_item,
                &.current_page_parent,
                &.current-menu-item,
                &.current-menu-parent {
                    @if $subm-li-bg-color-current {
                        background-color: $subm-li-bg-color-current;
                    }

                    @include mx.breakpoint-max(vars.$navbar-mobile) {
                        @if $mbl-subm-li-bg-color-current {
                            background-color: $mbl-subm-li-bg-color-current;
                        }
                    }

                    > a {
                        //@if $subm-link-color-current {
                        //    color: $subm-link-color-current;
                        //}
                        @extend %subm-link-current;

                        @include mx.breakpoint-max(vars.$navbar-mobile) {
                            @if $mbl-subm-link-color-current {
                                color: $mbl-subm-link-color-current;
                            }
                        }
                    }

                    &:hover {
                        > a {
                            //@if $subm-link-color-hover {
                            //    color: $subm-link-color-hover;
                            //}
                            @extend %subm-link-hover;

                            @include mx.breakpoint-max(vars.$navbar-mobile) {
                                @if $mbl-subm-link-color-hover {
                                    color: $mbl-subm-link-color-hover;
                                }
                            }
                        }
                    }
                }

                a {
                    //@include padding($submenu-link-spacing-y $submenu-link-spacing-x);
                    @if $subm-link-spacing-y and $subm-link-spacing-x {
                        @include padding($subm-link-spacing-y $subm-link-spacing-x);
                    } @else if $subm-link-spacing-y {
                        padding-top: $subm-link-spacing-y;
                        padding-bottom: $subm-link-spacing-y;
                    } @else if $subm-link-spacing-x {
                        padding-right: $subm-link-spacing-x;
                        padding-left: $subm-link-spacing-x;
                    }

                    //@if $subm-link-color {
                    //    color: $subm-link-color;
                    //}
                    @extend %subm-link;

                    @include mx.breakpoint-max(vars.$navbar-mobile) {
                        //display: inline-block;
                        //vertical-align: top;

                        @if $mbl-subm-link-spacing-y and $mbl-subm-link-spacing-x {
                            @include padding($mbl-subm-link-spacing-y $mbl-subm-link-spacing-x);
                        } @else if $mbl-subm-link-spacing-y {
                            padding-top: $mbl-subm-link-spacing-y;
                            padding-bottom: $mbl-subm-link-spacing-y;
                        } @else if $mbl-subm-link-spacing-x {
                            padding-right: $mbl-subm-link-spacing-x;
                            padding-left: $mbl-subm-link-spacing-x;
                        }

                        @if $mbl-subm-link-color {
                            color: $mbl-subm-link-color;
                        }
                    }

                    &:hover {
                        //@if $subm-link-color-hover {
                        //    color: $subm-link-color-hover;
                        //}
                        @extend %subm-link-hover;

                        @include mx.breakpoint-max(vars.$navbar-mobile) {
                            @if $mbl-subm-link-color-hover {
                                color: $mbl-subm-link-color-hover;
                            }
                        }
                    }

                    &:active {
                        //@if $subm-link-color-active {
                        //    color: $subm-link-color-active;
                        //}
                        @extend %subm-link-active;

                        @include mx.breakpoint-max(vars.$navbar-mobile) {
                            @if $mbl-subm-link-color-active {
                                color: $mbl-subm-link-color-active;
                            }
                        }
                    }
                }
            }
        }

        // Seems like this is not used. NavWalker is not using this class name anymore.
        .nav-item {

            .nav-link {
                @extend %link;

                padding: .3rem .9rem;

                &:hover {
                    @extend %link-hover;
                }

                &:hover {
                    @extend %link-active;
                }

                &:focus {
                    background-color: inherit;
                }

                &.dropdown-toggle::after {
                    margin-left: 0;
                    border: none;
                }
            }

            // Actual active nav item.
            &.current_page_item,
            &.current_page_parent,
            &.current-menu-item,
            &.current-menu-parent {
                > a {
                    @extend %link-current;
                }
            }

            // Drop down menu on hover styles
            &.dropdown:hover {
                > a {
                    @extend %link-hover;
                }
            }
        }

        // Main nav item links end
    }
    // Main navigation menu end

    // Everything related to mobile navigation.
    @include mx.breakpoint-max(vars.$navbar-mobile) {
        .navbar-mobile-active {
            .navbar-mobile {
                display: block;
                left: 0;
            }
        }

        .navbar-mobile {
            position: fixed;
            top: 0;
            left: -105%;
            height: 100vh;
            width: 100%;
            max-width: 100vw;
            padding-bottom: 1rem;
            overflow-x: hidden;
            overflow-y: scroll;
            //flex-direction: column;
            //align-items: center;
            transition: all 0.3s ease-in-out;
            z-index: 3000;
            background-color: vars.$navbar-mobile-bg-color;

            &.navbar-mobile-active {
                display: block;
                left: 0;
                @if vars.$navbar-mobile-width {
                    width: vars.$navbar-mobile-width;
                }
            }

            .navbar-nav {
                flex-direction: column;
                align-content: flex-start;
                width: 100%;

                @if vars.$navbar-mobile-items-gap {
                    gap: vars.$navbar-mobile-items-gap;
                }

                @if vars.$navbar-mobile-items-spacing-x {
                    padding-right: vars.$navbar-mobile-items-spacing-x;
                    padding-left: vars.$navbar-mobile-items-spacing-x;
                }

                @if vars.$navbar-mobile-items-spacing-y {
                    padding-top: vars.$navbar-mobile-items-spacing-y;
                    padding-bottom: vars.$navbar-mobile-items-spacing-y;
                }

                // Main navigation menu items
                > li {
                    // Only main navigation menu <a> items
                    > a {
                        color: vars.$navbar-mobile-item-font-color;
                    }
                }

                // All menu items
                .menu-item {
                    display: list-item;
                    width: 100%;

                    &.active {
                        // Show only primary child.
                        > .sub-menu {
                            display: flex;
                            //flex-direction: column;
                        }
                    }

                    &.dropdown {
                        // Adds arrow to the menu item if it has a dropdown.
                        > a {
                            position: relative;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;

                            &::after {
                                content: "";
                                display: inline-block;
                                width: 10px;
                                height: 10px;
                                border-style: solid;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg) translateX(-100%) translateY(75%);
                                transition: transform 0.3s ease;

                                @if $mbl-dropdown-arrow-color {
                                    border-color: $mbl-dropdown-arrow-color;
                                }
                            }
                        }

                        &.active {
                            > a {
                                &::after {
                                    transform: rotate(-135deg) translateX(75%) translateY(-100%);
                                }
                            }
                        }
                    }

                    // All menu item <a> links
                    a {
                        display: block;

                        @if vars.$navbar-mobile-item-spacing-x {
                            padding-right: vars.$navbar-mobile-item-spacing-x;
                            padding-left: vars.$navbar-mobile-item-spacing-x;
                        }

                        @if vars.$navbar-mobile-item-spacing-y {
                            padding-top: vars.$navbar-mobile-item-spacing-y;
                            padding-bottom: vars.$navbar-mobile-item-spacing-y;
                        }

                    }
                }

                // Sub menu <ul>
                .sub-menu {
                    display: none;

                    // Moved to the desktop styles.
                    //@if vars.$navbar-mobile-submenu-container-spacing-y {
                    //    @include mx.padding-top(vars.$navbar-mobile-submenu-container-spacing-y);
                    //    @include mx.padding-bottom(vars.$navbar-mobile-submenu-container-spacing-y);
                    //}
                    //
                    //@if vars.$navbar-mobile-submenu-container-spacing-x {
                    //    @include mx.padding-right(vars.$navbar-mobile-submenu-container-spacing-x);
                    //    @include mx.padding-left(vars.$navbar-mobile-submenu-container-spacing-x);
                    //}

                    // Only sub menu <li> items
                    li {
                        display: list-item;
                        width: 100%;
                        white-space: normal;

                        a {
                            display: inline-block;

                            // Moved to the desktop styles.
                            //@if vars.$navbar-mobile-submenu-item-spacing-y {
                            //    @include mx.padding-top(vars.$navbar-mobile-submenu-item-spacing-y);
                            //    @include mx.padding-bottom(vars.$navbar-mobile-submenu-item-spacing-y);
                            //}
                            //
                            //@if vars.$navbar-mobile-submenu-item-spacing-x {
                            //    @include mx.padding-right(vars.$navbar-mobile-submenu-item-spacing-x);
                            //    @include mx.padding-left(vars.$navbar-mobile-submenu-item-spacing-x);
                            //}

                            vertical-align: top;
                        }
                    }
                }

                // Main nav item links end
            }
        }
    }
    // End of mobile navigation

    .navbar-mobile-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        @include padding(1rem);

        @include mx.breakpoint-greater-than(vars.$navbar-mobile) {
            display: none;
        }

        .navbar-closer {
            align-self: start;
            @include margin-left(auto);
        }

        .site-logo img {
            max-height: rfs-value(50px);
        }
    }

    // Mobile nav button
    .navbar-menu-toggler-container {
        @include padding(vars.$navbar-mobile-toggler-padding);
        display: none;
        position: relative;

        // Show only for the mobile.
        @include mx.breakpoint-max(vars.$navbar-mobile) {
            display: block;
        }

        @include mx.breakpoint-max(vars.$mobile) {
            margin-left: auto;
            padding-right: 0;
        }

        // Styling of the button.
        .toggler-button {
            vertical-align: middle;
            position: relative;
            display: inline-block;
            width: vars.$navbar-mobile-toggler-width;
            height: vars.$navbar-mobile-toggler-height;
            cursor: pointer;

            @if vars.$navbar-mobile-toggler-bg-color {
                background-color: vars.$navbar-mobile-toggler-bg-color;
            }

            @if vars.$navbar-mobile-toggler-border {
                border: vars.$navbar-mobile-toggler-border;
            }

            @if vars.$navbar-mobile-toggler-border-radius {
                @include border-radius(vars.$navbar-mobile-toggler-border-radius);
            }

            &:hover {
                @if vars.$navbar-mobile-toggler-bg-color-hover {
                    background-color: vars.$navbar-mobile-toggler-bg-color-hover !important;
                }

                .lines {
                    @if vars.$navbar-mobile-toggler-line-color-hover {
                        background-color: vars.$navbar-mobile-toggler-line-color-hover !important;
                    }

                    &::before,
                    &::after {
                        @if vars.$navbar-mobile-toggler-line-color-hover {
                            background-color: vars.$navbar-mobile-toggler-line-color-hover !important;
                        }
                    }
                }
            }

            $lines-width: calc(#{vars.$navbar-mobile-toggler-width} - (#{vars.$navbar-mobile-toggler-padding}));
            // Styling of the lines.
            .lines {
                content: '';
                position: absolute;
                width: $lines-width;
                height: vars.$navbar-mobile-toggler-line-height;
                background-color: vars.$navbar-mobile-toggler-line-color;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.1s;

                &::before,
                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: vars.$navbar-mobile-toggler-line-color;
                    transition: 0.1s;
                }

                &::before {
                    transform: translate(-50%, -8px);
                }

                &::after {
                    transform: translate(-50%, 8px);
                }
            }
        }
    }

    .navbar-closer {
        position: relative;
        width: mx.rfs-value(vars.$navbar-mobile-closer-width);
        height: mx.rfs-value(vars.$navbar-mobile-closer-height);
        background-color: transparent;
        border: none;
        cursor: pointer;

        &::before,
        &::after {
            content: '';
            position: absolute;
            width: vars.$navbar-mobile-closer-line-height;
            height: 20px;
            background-color: vars.$navbar-mobile-closer-line-color;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}



