@charset "UTF-8";

@use "../vars";
@use "mixins" as mx;

@import "../../../node_modules/bootstrap/scss/carousel";

.hero-slider {
    @if vars.$slider-hero-max-height {
        max-height: vars.$slider-hero-max-height;
    }
    height: 100vh;
    display: flex;

    .carousel-item {
        // Make items height adjust to max-height of the slider.
        @if vars.$slider-hero-max-height {
            height: 100%;
            display: flex;
            align-content: center;
            align-items: center;
        }

        img {
            display: block !important;
            width: 100% !important;
        }
    }

    .content-wrapper {
        position: absolute;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        //@extend .content-grid;
        align-content: center;

        @include padding-top(3rem);
        @include padding-bottom(3rem);

        @if vars.$slider-hero-content-font-color {
            color: vars.$slider-hero-content-font-color;
        }
    }
}

.carousel {
    .carousel-item {
        img {
            width: 100%;
            display: block;
        }
    }
}