@charset "UTF-8";

@use "../vars";
@use "defaults";
@use "mixins" as mx;

@use "wrappers";

@use "features";
@use "wp-core";

// @use "project-related/styles";
@import "bootstrap-required";

@if vars.$enable-wp-core-styles {
    @include wp-core.wp-main-styles();
}

:root {
    // Workaround for the full width without scrollbar. Use it instead of 100vw, 50vw.
    --full-width: calc( 100vw - var(--scrollbar-width));
    --half-width: calc(var(--full-width) / 2);
    --mobile-breakpoint: #{vars.$mobile-breakpoint};
}

// Adds spacing between elements.
.flow > * + * {
    margin-top: vars.$post-content-flow-spacing;
}

.hidden{
    @include mx.textHidden;
}

.content-block-fluid {
    h1, h2, h3, h4, h5, h6 {
        @if vars.$content-headings-margin-bottom {
            @include margin-bottom(vars.$content-headings-margin-bottom);
        }
    }
}

@include features.enable-h-like-classes();
