@charset "UTF-8";

@use "../vars";
@use "defaults";
@use "mixins" as mx;

@use "wrappers";

@use "features";
@use "wp-core";

// @use "project-related/styles";
@import "bootstrap-required";
@import "helpers";

@if vars.$enable-wp-core-styles {
    @include wp-core.wp-main-styles();
}

:root {
    // Workaround for the full width without scrollbar. Use it instead of 100vw, 50vw.
    --full-width: calc(100vw - var(--scrollbar-width));
    --half-width: calc(var(--full-width) / 2);
    //--breakout-content-max-width: #{rfs-value(vars.$breakout-content-max-width)};
    --breakout-content-max-width: calc(#{rfs-value(vars.$breakout-content-max-width)} - #{rfs-value($container-padding-x)}); // Counts also paddings from the container.
    --mobile-breakpoint: #{vars.$mobile-breakpoint};
    --post-content-max-width: #{rfs-value(vars.$post-content-max-width)};
}

// Adds spacing between elements.
.flow > * + * {
    margin-top: vars.$post-content-flow-spacing;
}
