@charset "UTF-8";

@use "../vars";
@use "defaults";
@use "mixins" as mx;
@use "functions" as fn;

@use "wrappers";

@use "features";
@use "wp-core";
@use "wp-custom-blocks";

//@use "bootstrap-required";
//@import "bootstrap-required";
@use "helpers";
//@import "helpers";

@if vars.$enable-wp-core-styles {
    @include wp-core.wp-main-styles();
}

:root {
    // Workaround for the full width without scrollbar. Use it instead of 100vw, 50vw.
    --full-width: calc(100vw - var(--scrollbar-width));
    --half-width: calc(var(--full-width) / 2);
    //--breakout-content-max-width: #{rfs-value(vars.$breakout-content-max-width)};
    --breakout-content-max-width: calc(#{mx.nrfs-value(vars.$breakout-content-max-width)} - #{mx.nrfs-value(vars.$container-padding-x)}); // Counts also paddings from the container.
    --mobile-breakpoint: #{vars.$mobile-breakpoint};
    --post-content-max-width: #{mx.nrfs-value(vars.$post-content-max-width)};
    --nav-padding: #{vars.$top-nav-row-min-height};
}

// Adds spacing between elements.
.flow > * + * {
    margin-top: vars.$post-content-flow-spacing;
}
